/*!
 * Start Bootstrap - Business Casual (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
background: rgba(19,19,19,1);
background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(102,102,102,1) 38%, rgba(0,0,0,1) 49%, rgba(44,44,44,1) 50%, rgba(17,17,17,1) 57%, rgba(71,71,71,1) 67%, rgba(89,89,89,1) 88%, rgba(76,76,76,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(9%, rgba(28,28,28,1)), color-stop(24%, rgba(43,43,43,1)), color-stop(38%, rgba(102,102,102,1)), color-stop(49%, rgba(0,0,0,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(57%, rgba(17,17,17,1)), color-stop(67%, rgba(71,71,71,1)), color-stop(88%, rgba(89,89,89,1)), color-stop(100%, rgba(76,76,76,1)));
background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(102,102,102,1) 38%, rgba(0,0,0,1) 49%, rgba(44,44,44,1) 50%, rgba(17,17,17,1) 57%, rgba(71,71,71,1) 67%, rgba(89,89,89,1) 88%, rgba(76,76,76,1) 100%);
background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(102,102,102,1) 38%, rgba(0,0,0,1) 49%, rgba(44,44,44,1) 50%, rgba(17,17,17,1) 57%, rgba(71,71,71,1) 67%, rgba(89,89,89,1) 88%, rgba(76,76,76,1) 100%);
background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(102,102,102,1) 38%, rgba(0,0,0,1) 49%, rgba(44,44,44,1) 50%, rgba(17,17,17,1) 57%, rgba(71,71,71,1) 67%, rgba(89,89,89,1) 88%, rgba(76,76,76,1) 100%);
background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(102,102,102,1) 38%, rgba(0,0,0,1) 49%, rgba(44,44,44,1) 50%, rgba(17,17,17,1) 57%, rgba(71,71,71,1) 67%, rgba(89,89,89,1) 88%, rgba(76,76,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c', GradientType=1 );
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
  border-color: #292b2c;
  max-width: 250px;
}

.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}
